body {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  font-size: 18px;
}

button {
  cursor: pointer;
}
.title-container {
  display: flex;
  -webkit-box-pack: justify;
  width: inherit;
  align-items: center;
  height: 65px;
  background-color: rgb(255, 251, 233);
  color: rgb(48, 48, 48);
  font-size: 30px;
}

.title-icon {
  margin: 0 12px;
  color: rgb(250, 235, 160);
}

.todolist-content {
  background-color: #fff;
  height: 520px;
  overflow-y: auto;
}

.todolist-container {
  display: flex;
  justify-content: space-between;
  height: 65px;
  border-bottom: 1px solid rgb(250, 235, 160);
  align-items: center;
}

.icon {
  font-size: 30px;
  color: rgb(250, 235, 160);
  margin: 0 12px;
  cursor: pointer;
}
.checked {
  color: rgb(145, 208, 134);
}
.checked-text {
  color: rgba(0, 0, 0, 0.19);
  text-decoration: line-through;
}
.checkbox {
  display: flex;
}

.text {
  align-items: center;
  display: flex;
}

.createitem-container {
  display: flex;
  -webkit-box-pack: justify;
  width: inherit;
  align-items: center;
  height: 65px;
  background-color: rgb(255, 251, 233);
  color: rgb(250, 235, 160);
  font-size: 30px;
  justify-content: space-between;
}

.createitem-icon {
  margin: 0 12px;
  color: rgb(48, 48, 48);
  display: flex;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.save {
  border: none;
  padding-right: 16px;
  font-size: 18px;
  background-color: rgb(255, 251, 233);
}
